#pragma once

#define STA_SSID "TU_SSID"
#define STA_PASS "TU_PASSWORD"

// Fine-grained token, permiso "Contents: Read and write" solo sobre este repo.
#define GH_TOKEN "github_pat_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
#define GH_USER  "tu-usuario"
#define GH_REPO  "tu-repo"
